<div class="row-fluid">
	<div class="span5">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">New</li>
            <!-- ko foreach : new_claims-->
			<li><a href="#" data-bind="text: data.number+' '+data.last_name, click: $root.getClaim">1217 Austin</a></li>
            <!-- /ko -->
		</ul>
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">In Progress</li>
			<!-- ko foreach : open_claims-->
			<li><a href="#" data-bind="text: data.number+' '+data.last_name, click: $root.getClaim">1217 Austin</a></li>
            <!-- /ko -->
		</ul>
	</div>
	<div class="span7">
		<div data-bind="with: selectedClaim" class="well">
			<div class="row-fluid">
				<div class="span12">
					<h3 data-bind="text: data.last_name+', '+data.first_name">Name</h3>
					<h4 data-bind="html: data.address+'<br />'+data.city+', '+data.state+' '+data.zip">1234 Street Ave.<br />Amarillo, TX 79102</h4>
					<h4 data-bind="text: data.phone">Phone Number</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<a href="#" data-bind="fastClick: $root.loadReport" class="btn btn-primary btn-block">Preliminary</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<a href="#" data-bind="fastClick: $root.loadPics" class="btn btn-block">Pictures</a>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<a href="#" data-bind="fastClick: $root.loadAdvanced" class="btn btn-block">Advanced Payment</a>
				</div>
				<div class="span6">
					<a href="#" data-bind="fastClick: $root.loadEngineer" class="btn btn-block">Engineer</a>
				</div>
			</div>
		</div>
	</div>
</div>